<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Lesson-times</title>
  <th:block th:insert="fragments/common.html :: styles"></th:block>
</head>

<body class="background">
  <th:block th:insert="fragments/common.html :: nav_panel"></th:block>
  <div class="container general-data">
    <div class="card">
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col">TIME</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="lessonTime : ${lessonTimes}">
            <td class="text-center"><a th:href="@{/lessonTime/{id}(id=${lessonTime.id})}"><strong
                  th:text="${#temporals.format(lessonTime.startTime, 'HH:mm')} + ' ' + ${#temporals.format(lessonTime.endTime, 'HH:mm')}"></strong></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>